#text{
    width : 500px;
    border: 1px solid black;
    color:red;
    text-align: center;
    direction: rtl;
    word-spacing: 15px;
    word-wrap: break-word;
    font-size:30px;
    font-weight: 200;
}
a{
    text-decoration: none;
}
a:link{
    color:brown

}
a:visited{
    color:blanchedalmond
}
a:hover{
    color:azure
}
a:active{
    color:aqua
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  /* .roboto-light {
    font-family: "Roboto", sans-serif;
#parent{

} */
#parent{
    
    /* border: 1px solid red;
    font-size: 20px;
    cursor: all-scroll;
    box-shadow:10px 20px grey; */
}